.mainContent {
  /*max-width: 70rem;*/ /* 70 x 16 = 1120*/ /*The right box has a width of 832, it is distanced by 32 from the left box, and the sidebar has a width of 256.*/
  /* margin: 2rem auto;
  padding: 0 1rem; 

  display: grid;
  grid-template-columns: 256px 1fr; 
  gap: 2rem;
  align-items: flex-start; */
}

@media (max-width: 768px) {
  html {
    /* font-size: 87.5%; */
  }

  .wrapper {
    /*grid-template-columns: 1fr;*/
  }
}